
 <div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <div class="row" *ngIf="authService.userData as user">
          <div class="col-md-12">
            <div class="media">
              <div class="media-body">
                <h1>Hello, <strong>{{(user.displayName) ? user.displayName : 'User'}}!</strong></h1>
                <p>User ID: <strong>{{user.uid}}</strong></p>
                <p>Email: <strong>{{user.email}}</strong></p>
                <p>Your email <strong>{{(user.emailVerified) ? 'is' : 'is not' }}</strong> verified!</p>
              </div>
            </div>
          </div>
        </div>
    </div>
    <a class="nav-link" (click)="authService.SignOut()">
      <i class="fas fa-sign-out-alt"></i>Log out
    </a>
  </div>
</div>